.display {
    color: white;
    height: 100vh;
    background-color: black;
    overflow-y: overlay;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}

h1 {
    font-family: cursive;
}

img {
    width: 600px;
    height: 400px;
}

.button-display {
    color: #FFF;
    transition: all 0.5s;
    position: relative; 
    margin-top: 20px;
    padding: 20px;
    border-radius: 99px;
    font-weight: 800;
    color: black;
    cursor: pointer;
    outline: none;
    width: 200px;
    text-align: center;
    position: fixed;
    left: 13%;
    top: 100px;
    transform: translate(-50%, -50%);
    margin: 0 auto; 
  }
  .button-display  span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  .button-display::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(245, 239, 239);
    background-color: rgba(255,255,255,0.1);
    border-radius: 99px;
  }
  .button-display::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(245, 239, 239);
    background-color: rgba(255,255,255,0.1);
    border-radius: 99px;
  }
  .button-display:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .button-display:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }