.onepiece {
    height: 100vh;
    background: url("https://wallpaperaccess.com/full/398018.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
}

.input {
    margin-top: 20px;
    padding: 20px;
    border-radius: 99px;
    font-weight: 800;
    color: black;
    cursor: pointer;
    outline: none;
    bottom: 147px;
    width: 200px;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.button {
    color: #FFF;
    transition: all 0.5s;
    position: relative; 
    margin-top: 20px;
    padding: 20px;
    border-radius: 99px;
    font-weight: 800;
    color: black;
    cursor: pointer;
    outline: none;
    width: 200px;
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  .button span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(245, 239, 239);
    background-color: rgba(255,255,255,0.1);
    border-radius: 99px;
  }
  .button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(245, 239, 239);
    background-color: rgba(255,255,255,0.1);
    border-radius: 99px;
  }
  .button:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .button:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }
